.organizations-info {
  text-align: left;
  padding: 20px 0;
}

.title-text {
  font-size: 28px;
  color: #000022;
  margin-top: 1em;
}

.description-text {
  font-size: 16px;
  color: #66667A;
  margin-top: 1em;
  margin-bottom: 1em;
}

.grey-text {
  color: #66667A;
}

.mat-radio-button {
  margin-right: 15px;
}

.form-inputs {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
}

.organization-input {
  width: 350px;
  padding: 10px;
  margin: 0 20px 20px 0;
  border: none;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.02);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.02);
}

.creation-button {
  background-color: #61B500;
  border-color: #61B500;
  font-size: 14px;
  width: 40%;
  color: white;
  border-width: 2px;
  border-style: solid;
  display:block;
  width: 370px;
}

.mat-button[disabled][disabled] {
  opacity: 0.4;
  color: white;
}

.dropdown-menu {
  box-sizing: content-box;
  width: 340px;
  padding-left: 10px;
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
  background-repeat: no-repeat;
  background-position: 340px;
}

.dropdown-menu.ng-invalid {
  color: #9999A7;
}

.required-text {
  font-size: 14px;
  margin: 0 20px 20px 0;
}

.mat-expansion-panel {
  box-shadow: none;
  background: none;
  border-style: solid;
  border-color: #CCCCD3;
  border-width: 1px;
}

.mat-expansion-panel-spacing {
  margin: 0;
}

.faq-text {
  font-size: 14px;
  padding: 15px;
  color: #33334E;
}

.faq-description-text {
  font-size: 12px;
  margin: 5px 0;
  color: #33334E;
}

.display-flex {
  display: flex;
}

.mat-expansion-panel-header {
  height: auto !important;
}

.company-creation-column {
  width: 800px;
}

.faq-column {
  width: 300px;
}

option {
  color: black;
}

.payment-methods-title {
  padding: 20px 0;
}

.payment-methods-cards {
  display: flex;
  flex-wrap: wrap;
}

.payment-methods-card {
  width: 350px;
  padding: 11px;
  margin: 0 20px 20px 0;
  border: none;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.02);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.02);
}

.payment-methods-card:hover {
  cursor: pointer;
}

.selected-payment-method {
  border-style: solid;
  border-color: #61B500;
  padding: 10px;
  border-width: 1px;
  background-image: url("https://www.clipartmax.com/png/full/177-1778827_green-tick-clipart-big-green-green-checkmark-transparent-background.png");
  background-repeat: no-repeat;
  background-position: 340px;
  background-size: 16px 14px;
}
