.organizations-info {
  text-align: left;
  padding: 20px 0;
}

.title-text {
  font-size: 28px;
  color: #000022;
  margin-top: 1em;
}

.description-text {
  font-size: 16px;
  color: #66667A;
  margin-top: 1em;
  margin-bottom: 1em;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #61B500;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple
.mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked
.mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #61B500;
}
